---
import { parseHtml } from '../scripts/parseHtml';
import BaseLayout from '../layouts/BaseLayout.astro';
// import FileItems from '../components/FileItems.astro';

const { title, paragraphs, links, baseUrl, sections } = await parseHtml();
---
<BaseLayout>
  <div>
    <h1>{title}</h1>
    {sections.map((section, index) => (
      <section  set:html={section}></section>
    ))}
  </div>
  {/* Global styles for injected HTML */}
  <style is:global>
    section a {
      color: #93282C !important;
      text-decoration: none !important;
    }
  </style>
</BaseLayout>
