<!-- ---
import { countFilesInFolder } from "../scripts/countFiles";

const { totalFiles, files } = await countFilesInFolder();
---

<h1>Content Folder</h1>
<p>Total Files: {totalFiles}</p>
<ul>
  {files.map((file) => (
    <li>{file}</li>
  ))}
</ul> -->